<!DOCTYPE html>
<html>
<head><title>Employee Info</title></head>
<body style="background-image: url('{{ background_image }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <center>
        <h1>{{ group_name }}</h1>
        <h2>Employee Info</h2>
        <p>ID: {{ id }}</p>
        <p>First Name: {{ fname }}</p>
        <p>Last Name: {{ lname }}</p>
        <p>Skill: {{ interest }}</p>
        <p>Location: {{ location }}</p>
        <a href="{{ url_for('home') }}">Back</a>
    </center>
</body>
</html>
